/* WEBPaGE UI */

body {
    color: white;
    background-color: #191414;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

img {
    width: 100px;
    height: auto;
    position: absolute;
    top: 20px;
    left: 20px;
}


label {
    margin-left: 0;
    margin-top: 100px;
    font-size: 18px;
    text-align: center;
    padding-bottom: 10px;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

/* ARTIST DETAILS UI */

.artist-image {
    top: 210px;
    left: 50px;
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 5px;
}

.artist-details h2 {
    position: absolute;
    top: 430px;
    left: 50px; 
    width: 200px; 
    background-color: #191414;
    color: white; 
    border: 1px solid #333; 
    border-radius: 5px; 
    padding: 10px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.artist-details h3 {
    position: absolute; 
    top: 490px; 
    left: 50px; 
    width: 200px; 
    background-color: #191414;
    color: white; 
    border: 1px solid #333;
    border-radius: 5px; 
    padding: 10px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); 
}

/* SEARCH BAR UI */

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.search-input-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    border-radius: 5px;
    width: 300px;
    padding-left: 10px;
}

.search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #191414;
}

    .search-input:focus {
        border: none;
        outline: none;
    }

.search-icon {
    cursor: pointer;
    color: #191414;
    font-size: 20px;
}

.results {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

button {
    margin-left: 10px;
}

/* DROP DOWN UI */

.dropdown {
    position: absolute;
    top: 205px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #191414;
    color: white; 
    border: 1px solid #333; 
    border-radius: 5px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    width: 300px;
    z-index: 1000;
    padding: 5px 0;
}

    .dropdown ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .dropdown li {
        padding: 5px;
        cursor: pointer;
        text-align: center;
    }

        .dropdown li:hover {
            background-color: #282828;
        }


/* HEATMAP UI */

.heatmap-container {
    position: relative;
    width: 2200px;
    height: 1000px;
    left: 100px;
    overflow: hidden;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.heatmap-bubble {
    position: absolute;
    background-color: #1db954;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 10px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: transform 0.3s ease;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.heatmap-bubble:hover {
    transform: scale(1.1);
}

.track-name {
    position: absolute;
    left: 50%;
    align-items: center;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 12px;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.heatmap-bubble img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    width: 100%; 
    height: auto;
}

.heatmap-bubble:hover img {
    opacity: 1; 
}
