/* WEBPaGE UI */

body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #191414;
    font-family: Arial, sans-serif;
}

img {
    position: absolute;
    width: 100px;
    height: auto;
    top: 20px;
    left: 20px;
}

label {
    margin-top: 100px;
    margin-left: 0;
    padding-bottom: 10px;
    font-size: 18px;
    text-align: center;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

/* ARTIST DETAILS UI */

.artist-image {
    width: 100%;
    max-width: 200px;
    height: auto;
    top: 210px;
    left: 50px;
    border-radius: 5px;
}

.artist-details h2 {
    position: absolute;
    width: 200px;
    top: 430px;
    left: 50px;
    border-radius: 5px;
    background-color: #191414;
    color: white;
    border: 1px solid #333;
    padding: 10px;
}

.artist-details h3 {
    position: absolute;
    width: 200px;
    top: 490px;
    left: 50px;
    border-radius: 5px;
    background-color: #191414;
    color: white;
    border: 1px solid #333;
    padding: 10px;
}

/* SEARCH BAR UI */

.searching {
    display: flex;
    width: 100%;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.error{
    color: red;
}

.search-for-input {
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    border-radius: 5px;
    padding-left: 10px;
}

.find-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #191414;
}

.find-input:focus {
    border: none;
    outline: none;
}

.search-pointer {
    cursor: pointer;
    color: #191414;
    font-size: 20px;
}

.results {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

button {
    margin-left: 10px;
}

/* DROP DOWN UI */

.dropdown {
    position: absolute;
    width: 300px;
    top: 205px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #191414;
    color: white;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 5px 0;
}

.dropdown ul {
    list-style: none;
    margin: 0;
}

.dropdown li {
    padding: 5px;
    cursor: pointer;
    text-align: center;
}

.dropdown li:hover {
    background-color: #282828;
}


/* HEATMAP UI */
.heatmap {
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 60px;
}

.bubble {
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    border: 2px solid #fff;
    background-color: rgba(51, 183, 99, 0.5);
}

.bubble:hover {
    transform: scale(1.1);
}

.track-name {
    position: absolute;
    left: 50%;
    align-items: center;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 15px;
    color: white;
}

.bubble img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.bubble:hover img {
    opacity: 1; 
}
